<html>
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
<style>
table {
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid black;
}
td, th {
    padding: 3px;
}
</style>
</head>
<body>
<h1>Shopping basket</h1>
<div>Basket ID: {{ basket.id }}</div>
<div>Table: <b>{{ basket.table_number }}</b>
    <a href="/pos/basket/{{ basket.id }}/reset/">Set to 1</a>
    <a href="/pos/basket/{{ basket.id }}/increment_table_number/1/">+1</a>
    <a href="/pos/basket/{{ basket.id }}/increment_table_number/5/">+5</a>
</div>
<div><a href="/pos/basket/{{ basket.id }}/close_basket/">Close basket</a></div>
<h2>Available items</h2>
{% if template_list %}
<table>
    <tr>
        <th>Description</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    {% for template in template_list %}
    <tr>
        <td>{{ template.description }}</td>
        <td align="right">€ {{ template.unit_price }}</td>
        <td><a href="/pos/basket/{{ basket.id }}/add_item/{{ template.id }}/">Add item</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div><i>No products defined</i>
</div>
{% endif %}
<h2>Ordered items</h2>
{% if item_list %}
<table>
    <tr>
        <th>Description</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    {% for item in item_list %}
    <tr>
        <td>{{ item.description }}</td>
        <td align="right">€ {{ item.unit_price }}</td>
        <td><a href="/pos/basket/{{ basket.id }}/remove_item/{{ item.id }}/">Remove item</a> ({{ item.id }})</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div><i>No items ordered</i>
</div>
{% endif %}
<h2>Kitchen items</h2>
{% if kitchen_item_list %}
<table>
    <tr>
        <th>Description</th>
        <th>Part of</th>
    </tr>
    {% for kitchen_item in kitchen_item_list %}
    <tr>
        <td>{{ kitchen_item.description }}</td><td>{{ kitchen_item.item.description }} ({{ kitchen_item.item.id }})</td>

    </tr>
    {% endfor %}
</table>
{% else %}
<div><i>No kitchen items ordered</i>
</div>
{% endif %}

{% if select_sub_items_dict %}
<h2>Options</h2>
<table>
{% for item, sub_item_templates in select_sub_items_dict.items %}
<tr>
    <td><font color="red">{{ item.description }} [{{ item.id }}]</font></td>
    <td>{% for sub_item_template in sub_item_templates %}
        <a href="/pos/basket/{{ basket.id }}/item/{{ item.id }}/add_sub_item/{{ sub_item_template.id }}/">{{ sub_item_template.description }}</a>
        {% endfor %}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if basket.number_of_items > 0 %}
<h2>Basket overview</h2>
<table>
    <tr><td>Number of items</td><td align="right">{{ basket.number_of_items }}</td></tr>
    <tr><td>Total amount</td><td align="right"><b>€ {{ basket.total_price }}</b></td></tr>
    <tr><td>Cash received</td><td align="right">€ {{ basket.cash_received_physical }}</td></tr>

    <tr><td>Electronic payment</td><td align="right">€ {{ basket.cash_received_electronic }}</td></tr>
    <tr><td>Return to customer</td><td align="right"><font color="{{ cash_color }}">€ {{ cash_to_return }}</font></td></tr>

</table>
<h2>Cash</h2>
<table>
    <tr><td>Notes & coins received</td>
        <td>
        {% for cash in cash_received_list %}
            <a href="/pos/basket/{{ basket.id }}/remove_cash/{{ cash.id }}/">{{ cash.value }}</a>
        {% endfor %}
        </td></tr>
    <tr><td>Add notes</td>
        <td>
<a href="/pos/basket/{{ basket.id }}/receive_cash/500/">€500</a>
<a href="/pos/basket/{{ basket.id }}/receive_cash/200/">€200</a>
<a href="/pos/basket/{{ basket.id }}/receive_cash/100/">€100</a>
<a href="/pos/basket/{{ basket.id }}/receive_cash/50/">€50</a>
<a href="/pos/basket/{{ basket.id }}/receive_cash/20/">€20</a>
<a href="/pos/basket/{{ basket.id }}/receive_cash/10/">€10</a>
<a href="/pos/basket/{{ basket.id }}/receive_cash/5/">€5</a>
<a href="/pos/basket/{{ basket.id }}/receive_cash/2/">€2</a>
<a href="/pos/basket/{{ basket.id }}/receive_cash/1/">€1</a>
    </td></tr>
    <tr><td>Add coins</td>
        <td>
<a href="/pos/basket/{{ basket.id }}/receive_cents/50/">€0,50</a>
<a href="/pos/basket/{{ basket.id }}/receive_cents/20/">€0,20</a>
<a href="/pos/basket/{{ basket.id }}/receive_cents/10/">€0,10</a>
<a href="/pos/basket/{{ basket.id }}/receive_cents/5/">€0,05</a>
<a href="/pos/basket/{{ basket.id }}/receive_cents/2/">€0,02</a>
<a href="/pos/basket/{{ basket.id }}/receive_cents/1/">€0,01</a>
</td></tr>
</table>
{% endif %}
</body>
</html>