<html>
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
<style>
table {
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid black;
}
td, th {
    padding: 3px;
}
p, div, table, td, th {
    font-size: x-large;
}
</style>
</head>
<body>
<p>
<h1>Shopping basket {{ basket.id }}</h1>
<div>Table: <b>{{ basket.table_number }}</b>
    <a href="/pos/basket/{{ basket.id }}/reset/">Set to 1</a>
    <a href="/pos/basket/{{ basket.id }}/increment_table_number/1/">+1</a>
    <a href="/pos/basket/{{ basket.id }}/increment_table_number/5/">+5</a>
</div>
<h2>Available items</h2>
{% if template_list %}
<table>
    <tr>
        <th>Description</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    {% for template in template_list %}
    <tr>
        <td>{{ template.description }}</td>
        <td align="right">€ {{ template.unit_price }}</td>
        <td><a href="/pos/basket/{{ basket.id }}/add_item/{{ template.id }}/">Add item</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div><i>No products defined</i>
</div>
{% endif %}
<h2>Ordered items</h2>
{% if item_list %}
<table>
    <tr>
        <th>Description</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    {% for item in item_list %}
    <tr>
        <td>{{ item.description }}</td>
        <td align="right">€ {{ item.unit_price }}</td>
        <td><a href="/pos/basket/{{ basket.id }}/remove_item/{{ item.id }}/">Remove item</a> ({{ item.id }})</td>
    </tr>
    {% endfor %}
    <tr><td>Sum</td><td align="right"><a href="/pos/transaction/{{ basket.id }}/"><b>€ {{ basket.total_price }}</b></a></td></tr>
</table>
{% else %}
<div><i>No items ordered</i>
</div>
{% endif %}
<h2>Kitchen items</h2>
{% if kitchen_item_list %}
<table>
    <tr>
        <th>Description</th>
        <th>Part of</th>
    </tr>
    {% for kitchen_item in kitchen_item_list %}
    <tr>
        <td>{{ kitchen_item.description }}</td><td>{{ kitchen_item.item.description }} ({{ kitchen_item.item.id }})</td>

    </tr>
    {% endfor %}
</table>
{% else %}
<div><i>No kitchen items ordered</i>
</div>
{% endif %}

{% if select_sub_items_dict %}
<h2>Options</h2>
<table>
{% for item, sub_item_templates in select_sub_items_dict.items %}
<tr>
    <td><font color="red">{{ item.description }} [{{ item.id }}]</font></td>
    <td>{% for sub_item_template in sub_item_templates %}
        <a href="/pos/basket/{{ basket.id }}/item/{{ item.id }}/add_sub_item/{{ sub_item_template.id }}/">{{ sub_item_template.description }}</a>
        {% endfor %}</td>
</tr>
{% endfor %}
</table>
{% endif %}
<p><a href="/pos/transaction/{{ basket.id }}/">Transaction page</a></p>
</body>
</html>