<html>
<head>
    <meta charset="UTF-8">
    <title>Mopos</title>
<style>
table {
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid black;
}
td, th {
    padding: 3px;
}
a, p, div, table, td, th {
    font-size: x-large;
}
</style>
</head>
<body>
{% if basket.number_of_items > 0 %}
<table>
    <tr><td>Number of items</td><td align="right">{{ basket.number_of_items }}</td></tr>
    <tr><td>Total amount</td><td align="right"><b>€ {{ basket.total_price }}</b></td></tr>
    <tr><td>Cash received</td><td align="right">€ {{ basket.cash_received_physical }}</td></tr>

    <tr><td>Electronic payment</td><td align="right">€ {{ basket.cash_received_electronic }}</td></tr>
    <tr><td>Return to customer</td><td align="right"><font color="{{ cash_color }}">€ {{ cash_to_return }}</font></td></tr>

</table>
<br />
<table>
    <tr><td>Notes & coins received</td>
        <td>
        {% for cash in cash_received_list %}
            <a href="/pos/basket/{{ basket.id }}/remove_cash/{{ cash.id }}/">{{ cash.value }}</a>
        {% endfor %}
        </td></tr>
    <tr><td>Add notes</td>
        <td>
<a href="/pos/basket/{{ basket.id }}/receive_cash/500/">€500</a>&nbsp;
<a href="/pos/basket/{{ basket.id }}/receive_cash/200/">€200</a>&nbsp;
<a href="/pos/basket/{{ basket.id }}/receive_cash/100/">€100</a>&nbsp;
<a href="/pos/basket/{{ basket.id }}/receive_cash/50/">€50</a>&nbsp;
<a href="/pos/basket/{{ basket.id }}/receive_cash/20/">€20</a>&nbsp;
<a href="/pos/basket/{{ basket.id }}/receive_cash/10/">€10</a>&nbsp;
<a href="/pos/basket/{{ basket.id }}/receive_cash/5/">€5</a>&nbsp;
<a href="/pos/basket/{{ basket.id }}/receive_cash/2/">€2</a>&nbsp;
<a href="/pos/basket/{{ basket.id }}/receive_cash/1/">€1</a>
    </td></tr>
    <tr><td>Add coins</td>
        <td>
<a href="/pos/basket/{{ basket.id }}/receive_cents/50/">€0,50</a>&nbsp;
<a href="/pos/basket/{{ basket.id }}/receive_cents/20/">€0,20</a>&nbsp;
<a href="/pos/basket/{{ basket.id }}/receive_cents/10/">€0,10</a>&nbsp;
<a href="/pos/basket/{{ basket.id }}/receive_cents/5/">€0,05</a>&nbsp;
<a href="/pos/basket/{{ basket.id }}/receive_cents/2/">€0,02</a>&nbsp;
<a href="/pos/basket/{{ basket.id }}/receive_cents/1/">€0,01</a>&nbsp;
</td></tr>
</table>
<br />
<table>
    <tr>
        <td>E-payments received</td>
        <td>
        {% for electronic in electronic_received_list %}
            <a href="/pos/basket/{{ basket.id }}/remove_cash/{{ electronic.id }}/">{{ electronic.value }}</a>
        {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Add electronic payment</td>
        <td align="right"><a href="/pos/basket/{{ basket.id }}/receive_electronic_payment/automatic/">€ {{ cash_to_receive }}</a>
        </td>
    </tr>
</table>
{% endif %}
<p><a href="/pos/basket/">Back to basket</a></p>
<p><a href="/pos/basket/{{ basket.id }}/close_basket/">Close transaction and start new basket</a></p>
</body>
</html>